html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  outline: transparent;
  color: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

pre {
  margin: 0;
}

body {
  background-color: #151515;
  color: #ffffff;
  font-family: 'Cabin', sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.3;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 30px;
  padding: 0 30px;
}

.section {
  background-color: #fff;
  border: 1px solid rgba(167, 166, 166, 0.2);
  border-radius: 3px;
  margin-bottom: 17px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.container {
  padding: 30px;
}

.container-inner {
  max-width: 1920px;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.wrapper {
  position: relative;
}

.wrapper__inner {
  padding-bottom: 50px;
}

.header {
  height: 250px;
  padding: 60px 30px 30px 40px;
  position: relative;
}

.header__title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 48px;
  letter-spacing: 0.2em;
  position: absolute;
  z-index: 2;
}

.header__subtitle {
  font-weight: 400;
  margin-top: 20px;
  display: block;
  font-size: 32px;
  position: relative;
}

.header__subtitle:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffffff;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  right: 200px;
  height: 150px;
  width: 2px;
  background-color: #ffffff;
}

.about {
  height: 100%;
}

.about__photo {
  object-fit: cover;
  margin-bottom: 40px;
}

.about__text {
  line-height: 1.6;
  padding-bottom: 50px;
  position: relative;
}

.about__text:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background-color: #ffffff;
  width: 200px;
}

.about__address {
  padding-top: 50px;
}

.contacts {
  margin-bottom: 30px;
}

.contacts,
.socials-contacts__item {
  list-style: none;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__link {
  padding: 2px 2px 2px 30px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  text-decoration: underline transparent;
  border-radius: 3px;
  transition: opacity 0.3, box-shadow 0.3s, text-decoration;
}

.contacts__link:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.contacts__link:hover {
  text-decoration: underline;
}

.contacts__link:active {
  opacity: 0.7;
}

.inner {
  color: #151515;
}

.text-style {
  list-style-position: inside;
  font-weight: 600;
}

.text-style:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  background-color: #ffffff;
}

.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #151515;
}

.footer__link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
  transition: box-shadow 0.4s, transform 0.2s;
}

.footer__link:focus,
.logo:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}


.footer__link:hover,
.logo:hover {
  box-shadow: 0 0 7px 2px #a5a5a7;
}

.footer__link:active,
.logo:active {
  transform: scale(0.9);
}

.footer__year {
  display: block;
  font-size: 20px;
}

.footer__elem,
.footer__link,
.logo {
  margin-right: 30px;
}

.socials-contacts {
  display: flex;
}

.socials-contacts__item:not(:last-child) {
  margin-right: 20px;
}

.socials-contacts__link {
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.4s;
}

.socials-contacts__link:hover {
  box-shadow: 0 0 7px 2px #a5a5a7;
  animation: bounce 1s;
}

.socials-contacts__link:focus {
  box-shadow: 0 0 0 2px #f5f5f7;

}

@keyframes bounce {

  0%,
  20%,
  53%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0, 0, 0);
  }

  40% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -6px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -4px, 0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}

.logo {
  width: 150px;
  transition: box-shadow 0.4s;
}

@media (max-width: 1200px) {
  .about__photo {
    height: 400px;
  }
}

@media (max-width: 992px) {
  .header:before {
    top: -30px;
    transform: rotate(-90deg);
  }

  .header__title {
    font-size: 36px;
  }

  .header__subtitle {
    font-size: 26px;
  }

  .main {
    padding: 0 15px;
    gap: 15px;
  }

  .title {
    font-size: 28px;
  }

  .about__photo {
    height: 350px;
  }
}

@media (max-width: 768px) {

  body {
    font-size: 16px;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 20px 10px 20px 20px;
  }

  .header {
    height: 200px;
  }

  .header__title {
    font-size: 32px;
  }

  .header__subtitle {
    font-size: 22px;
  }

  .about__photo {
    width: 100%;
    height: 500px;
    object-position: top;
    margin: 0 auto 50px;
  }

  .about__address {
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {

  .header {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .header__title {
    display: inline-block;
  }

  .header__subtitle:before {
    height: 1px;
  }

  .about {
    margin-bottom: 30px;
  }

  .about__photo {
    height: 450px;
  }

  .header:before {
    left: 50%;
    transform: translate(-50%), rotate(-90deg);
  }

  .header__title {
    font-size: 28px;
  }

  .header__subtitle {
    white-space: wrap;
    font-size: 16px;
  }
}